<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/general}">
<head>
	<title>Trivia House</title>
	<link th:href="@{/js/chunk-vendors.js}" rel=preload as=script>
	<link th:href="@{/js/client.js}" rel=preload as=script>
	<link rel="stylesheet" th:href="@{/css/chunk-vendors.css}">
</head>
<div layout:fragment="body" class="col-10 offset-1 col-md-6 offset-md-3 pt-4 mainBody" id="body">
	<div id="app"></div>
	<script th:src="@{/js/chunk-vendors.js}"></script>
	<script th:src="@{/js/client.js}"></script>
</div>